<h1 class="mt-4">Category</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">
    {{ category.id ? "Edit" : "Register" }}
  </li>
</ol>
<div class="container">
  <form #categoryForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Category save/updated with success
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngFor="let erro of errors"
        >
          {{ erro }}
        </div>
      </div>
    </div>

    <div class="row" *ngIf="category.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID: </label>
          <input
            type="text"
            [ngModel]="category.id"
            name="id"
            class="form-control"
            disabled="true"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Name: </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="category.name"
            name="name"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Description: </label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="category.description"
            name="description"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" *ngIf="!category.id">
          <i class="fa fa-save"></i> Save
        </button>

        <button type="submit" class="btn btn-primary" *ngIf="category.id">
          <i class="fa fa-sync-alt"></i> Update
        </button>

        <button
          type="button"
          class="btn btn-danger ml-1"
          (click)="returnToList()"
        >
          <i class="fa fa-arrow-alt-circle-left"></i> Return
        </button>
      </div>
    </div>
  </form>
</div>
